/* Styling the Body element i.e. Color,
        Font, Alignment */
        

        /* Styling the Form (Color, Padding, Shadow) */
        

        /* Styling form-control Class */
        .form-control {
            text-align: left;
            margin-bottom: 25px;
        }

        /* Styling form-control Label */
        .form-control label {
            display: block;
            margin-bottom: 10px;
        }

        /* Styling form-control input,
        select, textarea */
        .form-control {
            border-radius: 7px;
            font-family: inherit;
            padding: 8px;
            display: block;
            width: 40vh;
        }

        /* Styling form-control Radio
        button and Checkbox */
        .form-control input[type="radio"],
        .form-control input[type="checkbox"] {
            display: inline-block;
            width: auto;
        }

        /* Styling Button */
        button#butt{
            background-color: #05c46b;
            border: 1px solid #777;
            border-radius: 2px;
            font-family: inherit;
            font-size: 21px;
            display: block;
            width: 95%;
            margin-top: 50px;
            margin-bottom: 20px;
        }
